<div class="valign-wrapper row">
  <div class="col s12 pull-s1 m6 pull-m3 l6 pull-l3">
    <div class="card">
      <div class="card-content">
        <h4>Sign In</h4>
        <form id="signin" name="signin" method="post" action="/signin">
          <div>
            <label>Username:</label>
            <input type="text" name="username" />
          </div>
          <div>
            <label>Password:</label>
            <input type="password" name="password" />
          </div>
          <div>
            <p style="color:red">{{msg}}</p>
          </div>
          <div>
          <input class="btn" type="submit" value="Sign In"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>